body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  background-color: $white;
  color: $dark-500;

  @include r(992) {
    &.lock {
      overflow: hidden;
    }
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}


.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-page {
  padding: 71px 0;
  text-align: center;

  @include r(575) {
    padding: 47px 0;
  }
}

.logo__img {
  max-width: 200px;
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 12px 27px;
  font-size: 18px;
  line-height: 1.3;
  background-color: $green-900;
  color: $white;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

  &:hover {
    background-color: #4D810C;
  }

  &:focus {
    box-shadow: 0 0 0 4px #E0EDCF;
    border-radius: 6px;
  }

  &:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
    border-radius: 6px;
  }
}

.title {
  margin-bottom: 21px;
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;

  @include r(575) {
    margin-bottom: 18px;
    font-size: 24px;
  }
}

.footer {
  margin-top: auto;
}