.form-search {
  position: relative;
  display: flex;
  max-width: 576px;
  width: 100%;

  &__input {
    width: 100%;
    padding: 12px 170px 12px 51px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    color: $dark-800;
    background-color: $white;
    background-image: url('../images/icon/search.svg');
    background-repeat: no-repeat;
    background-position: 12px 16px;

    &::placeholder {
      font-family: 'OpenSans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.03em;
      color: $dark-800;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
      border-radius: 6px;
    }

    @include r(1200) {
      padding-right: 115px;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    padding: 15px 52px 15px 53px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $dark-800;
    letter-spacing: 0.03em;
    color: $white;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s ease;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
      border-radius: 0 6px 6px 0;
    }

    &:active {
      color: rgba($white, 0.5);
    }

    @include r(1200) {
      padding: 15px 23px;
    }
  }
}