.header {
  &__top {
    background-color: $dark-800;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &__bottom {
    background-color: $green-900;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    @include r(768) {
      padding: 9px 0;
    }
  }
}