.header {
  &__top {
    background-color: $dark-800;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &__bottom {
    background-color: $green-900;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    @include r(768) {
      padding: 9px 0;
    }
  }

  .form-search {
    margin-right: 20px;

    @include r(768) {
      position: absolute;
      top: 110px;
      left: 0;
      z-index: 2;
      max-width: 100%;
      margin-right: 0;
      border: 1px solid #000;
      transform: translateX(-200%);

      &.active {
        transform: translateX(0);
      }

      .form-search__input {
        border-radius: 0;
      }

      .form-search__btn {
        border-radius: 0;
      }
    }
  }
}