.menu {
  display: flex;

  &__btn {
    display: none;

    @include r(992) {
      display: block;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    @include r(992) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &--right {
    @include r(992) {
      display: none;
    }
  }

  &__link {
    padding: 13px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: 34px 22px;
    background-position: left center;
    transition: opacity 0.3s, box-shadow 0.3s;

    &--address {
      padding-right: 22px;
      padding-left: 44px;
      background-image: url('../images/icon/delivery.svg');

      @include r(992) {
        padding-right: 0;
      }
    }

    &--tel {
      padding-right: 22px;
      padding-left: 37px;
      background-size: 34px 22px;
      background-image: url('../images/icon/tel.svg');

      @include r(992) {
        padding-right: 0;
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    @include r(992) {
      font-size: 0;
    }

  }
}