.menu-list {
  column-count: 3;
  column-gap: 77px;

  &__item {
    margin-bottom: 18px;
  }

  &__link {
    font-size: 14px;
    line-height: 1.4;
    color: $white;
    transition: opacity 0.3s, box-shadow 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }
  }
}