.social {
  display: flex;
  margin-left: -10px;

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 6px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      path {
        fill: $green-200;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }


  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $white;
  }

  @include r(768) {
    justify-content: center;
  }
}