.partners {

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    cursor: pointer;
    transition: opacity 0.7s;

    &:hover {
      g {
        opacity: 1;
      }
    }
  }

  &__images {
    text-align: center;
  }
}