.partners {
  &__item {
    cursor: pointer;
  }

  &__images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
