.promoution {
  background-color: #F5F5F5;

  &__filter {
    margin-bottom: 36px;

    @include r(575) {
      margin-bottom: 22px;
    }
  }

  &__filter-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 30px;
    margin-bottom: 44px;

    @include r(1340) {
      grid-template-columns: repeat(3, 300px);
      grid-gap: 20px;
      justify-content: center;
    }

    @include r(992) {
      grid-template-columns: repeat(2, 280px);
      grid-gap: 7px;
    }

    @include r(575) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
      justify-items: center;
      margin-bottom: 22px;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    padding: 12px;

    @include r(575) {
      padding: 13px 12px 9px 10px;
    }
  }

  &__badges {
    z-index: 1;

    @include r(575) {
      left: 10px;
    }
  }

  &__link {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 12px;
    margin-bottom: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    margin-right: 0;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__subtitle {
    width: 164px;
    height: 56px;
    margin: 0 0 10px 0;

    @include r(575) {
      margin: 0 0 7px 0;
    }
  }

  &__condition {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &--in {
      color: $green-900;
    }

    &--ends {
      color: $red-900;
    }

    &--out {
      color: $silver-600;
    }

    @include r(575) {
      margin-bottom: 6px;
    }
  }

  &__bottom {
    margin: 0;
  }

  &__box {
    flex-direction: row-reverse;
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;

    .currency {
      font-size: 13px;
    }

    &--old {
      align-self: end;
      margin-bottom: 0;
      margin-left: 12px;
      font-size: 12px;

      &::before {
        top: 5px;
        width: 39px;
      }
    }
  }

  &__num {
    position: relative;
    padding-right: 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 16px;
      height: 16px;
      background-image: url('../images/icon/star.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include r(575) {
        top: -2px;
        right: 2px;
      }
    }

    @include r(575) {
      padding-right: 21px;
    }
  }
}